.profile-area .nav-pills .nav-link.active {
    color: var(--white-color);
    background: linear-gradient(316deg, #6247aa 0%, #a594f9 74%);
}

.profile-area .nav-link {
    color: var(--black-color);
    font-weight: 600;
    margin: 10px 0;
}

.profile-content h4 {
    color: var(--theme-color);
    font-weight: 600;
    margin: 20px 0;
}
.profile-imgArea {
    display: flex;
}
.profile-imgArea img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 20px 0 0;
}
.profile-imgArea h6 {
    color: var(--theme-color);
}
.profile-imgArea p {
    margin: 0;
}


.profile-image {
    position: relative;
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.profile-image img {
    width: auto;
    min-height: 100px;
    border-radius: 50%;
    max-width: 100px;
    max-height: 100px;
    height: 100px;
    min-width: 100px;
    border-radius: 50%;
}
.profile-image .file-uplode-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0;
    position: absolute;
    bottom: 0;
    right: -5px;
    text-align: center;
    width: 36px;
    height: 36px;
    -webkit-box-shadow: 0 0 10px rgba(179,168,168,.25);
    box-shadow: 0 0 10px rgba(179,168,168,.25);
    cursor: pointer;
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
    background: var(--theme-color);
    border-radius: 50%;
}
.profile-image #fileuplode {
    display: none;
}