.find-tutors h1 {
    font-size: 56px;
    text-transform: capitalize;
    font-weight: 300;
}

.find-tutors img {
    width: 100px;
    margin: 0 0 20px;
}

.find-tutors select {
    height: 50px;
}

.find-tutors label {
    font-weight: 500;
    color: var(--body-font-color);
}

.find-tutors a {
    color: var(--body-font-color);
    font-size: 16px;
    font-weight: 500;
}

.iconcoin-mask-bg-wrap {
    position: relative;
}

.iconcoin-mask-bg-wrap-1 .ico-image-sm {
    position: absolute;
    left: -20px;
    top: -10px;
    filter: hue-rotate(45deg) !important;
}

.iconcoin-mask-bg-wrap-1 .ico-shape-image {
    position: absolute;
    z-index: 0;
    left: 22px;
    top: 1px;
    width: 90%;
    filter: hue-rotate(45deg);
}

.iconcoin-mask-bg-wrap-1 .thumb {
    -webkit-mask-image: url(../../assets/images/img/shape5.webp);
    mask-image: url(../../assets/images/img/shape5.webp);
}

.iconcoin-mask-bg-wrap .thumb {
    position: relative;
    display: block;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: 100% 100%;
    -webkit-mask-position: center center;
    mask-position: center center;
    overflow: hidden;
}

.iconcoin-mask-bg-wrap .thumb img {
    width: 100%;
}


.top_image_bounce {
    animation: top-image-bounce 3s infinite ease-in-out;
    animation-play-state: running;
    /* Ensure animation is running */
}

@keyframes top-image-bounce {
    0% {
        transform: translateY(-8px);
    }

    50% {
        transform: translateY(12px);
    }

    100% {
        transform: translateY(-8px);
    }
}


/* ===== Getstarted ===== */

.full-screen {
    /* height: 100vh; */
    /* Set height to full viewport height */
}

.full-height {
    height: 100%;
    /* Ensure the row takes full height */
}

.presearch-option {
    border: 2px solid var(--theme-color);
    border-radius: 50px;
    padding: 10px 26px;
    margin: 15px 0;
}

.presearch-option svg {
    width: 30px;
}

.presearch-option input {
    font-size: 30px;
    margin: 0;
}

.presearch-option-select {
    padding: 0 25px;
}

.typewriter-area {
    font-weight: 600;
    font-size: 40px;
    padding: 50px 0 0;
}

.presearch-option img {
    width: 30px;
    height: auto;
}

.presearch-option h6 {
    margin: 0;
}

.typewriter {
    white-space: nowrap;
    overflow: hidden;
    border-right: 4px solid var(--white-color);
    animation: cursor 1s step-start infinite,
        text 5s steps(18) alternate infinite;
    color: var(--white-color);
}

@keyframes cursor {

    0%,
    100% {
        border-color: var(--white-color);
    }
}

@keyframes text {
    0% {
        width: 0;
    }

    100% {
        width: 21.5ch;
    }
}

.get-start-bg {
    padding: 0 30px;
}

.skip-area {
    text-align: right;
}

.selectTime-list {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 20px;
    border-radius: 3px;
    background: var(--white-color);
    text-align: center;
}

.selectDay-list {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 8px;
    border-radius: 3px;
    background: var(--white-color);
    text-align: center;
}

.selectDay-list h5 {
    margin: 0;
    font-size: 16px;
}

.presearch-option-select h3 {
    font-size: 16px;
    margin: 15px 0 6px;
}

.selectTime-list svg {
    width: 25px;
    margin: 0 0 8px;
}

.day-timeScroll {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 400px;
}
